BasedOnStyle: Microsoft
BreakBeforeBraces: Allman

BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterClass: true

IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AllowShortLambdasOnASingleLine: true
# AllowShortFunctionsOnASingleLine: true